[submodule "thirdParty/ecs-cpp"]
	path = thirdParty/ecs-cpp
	url = git@github.com:annell/ecs-cpp.git
[submodule "thirdParty/octree-cpp"]
	path = thirdParty/octree-cpp
	url = git@github.com:annell/octree-cpp.git
